@import "../../../../shared/styles/variables";

.file-uploader {
  margin: 1rem 0;

  &__input {
    background: rgba(255, 255, 255, 0.05);
    padding: 0.8rem;
    border-radius: $radius-md;
    color: $color-text-muted;
    cursor: pointer;
    border: 1px solid $color-border;
    transition: background $transition-default;
    min-width: 200px;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}
